/* app/globals.css */
@import "tailwindcss";

:root {
  --color-primary-purple: #B6B1FC;
  --color-second-purple : #5953B8;
  --color-pastel-purple : #F4EBFF;
  --color-primary-blue : #C3E3FF;
  --color-second-blue : #5380B8;
  --color-pastel-blue : #D5F3FF;
  --color-pastel-green : #DEF7E1;
  --color-pastel-yellow : #FFFFEB;
  --color-primary-red: #FEC0C0;
  --color-second-red : #FF7E7E;
}
body {
  margin-top: 0px;
  font-family: Arial, sans-serif;
}